.about-section {
    font-family: var(--font-sans);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 7.5%;
    flex-wrap: wrap;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 2rem;
}

.about-text {
    flex: 1;
}

.about-title {
    font-size: 2.5rem;
    color: var(--lightest-slate);
    margin-bottom: 1rem;
}

.about-description {
    /* font-size: 1.2rem; */
    line-height: 1.6;
    margin-bottom: 0.7rem;
}

.about-photo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.photo {
    width: 100%;
    max-width: 300px;
    border-radius: 5%;
    border: 2px solid var(--green);
    filter: grayscale(100%); /* Make the photo black and white */
    transition: filter 0.7s ease, transform 0.7s ease; /* Smooth transition for color and size */
}

.photo:hover {
    filter: grayscale(0%); /* Bring back the color */
    transform: scale(1.05); /* Slightly expand the photo */
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-photo {
        margin-top: 2rem;
    }
}